USE [master]
GO
/****** Object:  Database [IEFI]    Script Date: 20/5/2025 20:09:24 ******/
CREATE DATABASE [IEFI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IEFI', FILENAME = N'D:\SQL SERVER\MSSQL16.MSSQLSERVER\MSSQL\DATA\IEFI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IEFI_log', FILENAME = N'D:\SQL SERVER\MSSQL16.MSSQLSERVER\MSSQL\DATA\IEFI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IEFI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IEFI]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/5/2025 20:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Contraseña] [varchar](255) NOT NULL,
	[Cargo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [Nombre], [Contraseña], [Cargo]) VALUES (1, N'admin', N'admin123', N'Administrador')
INSERT [dbo].[Usuarios] ([ID], [Nombre], [Contraseña], [Cargo]) VALUES (2, N'María Gómez', N'empleado456', N'Empleado')
INSERT [dbo].[Usuarios] ([ID], [Nombre], [Contraseña], [Cargo]) VALUES (3, N'Juliannn34', N'Juli34', N'Supervisor')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([Cargo]='Otro' OR [Cargo]='Supervisor' OR [Cargo]='Empleado' OR [Cargo]='Administrador'))
GO
USE [master]
GO
